$general_distance: 10px;

p {
  margin: 0px;
}

#name {
  padding: $general_distance;
}

#picture {
  float: left;
  margin: $general_distance;
}

#map_canvas {
  height: 500px;
  width: 500px;
  margin: $general_distance;
  clear: left;
}
