$general_distance: 10px;

body {
  background-color: #CCCCCC;
  font-size: 13pt;
  font-family: Verdana, Arial, Helvetica;
}

p, a {
  display: block;
  margin: 0px;
  padding-bottom: $general_distance;
}

.notice {
  color: green;
}

.alert {
  color: red;
}

#name {
  padding-top: $general_distance;
}

#picture {
  float: left;
  margin: $general_distance;
}

#map_canvas {
  height: 500px;
  width: 500px;
  margin: $general_distance;
  clear: left;
}
