body {
  background-color: #CCCCCC; }

p, a {
  margin: 0px;
  padding-bottom: 10px;
  font-size: 13pt;
  font-family: Verdana, Arial, Helvetica; }

#name {
  padding-top: 10px; }

#picture {
  float: left;
  margin: 10px; }

#map_canvas {
  height: 500px;
  width: 500px;
  margin: 10px;
  clear: left; }
