=image_tag current_user.picture, :id => 'picture'
%p#name
  %strong= t(:name)
  = ': ' + current_user.name
%p
  %strong= t(:location)
  %span#location= ': ' + current_user.location
%p link_to t(:sign_out), destroy_user_session_path
#map_canvas
